.con-body {
	color: var(--primaryYellow);
	height: 200vh;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.contributors-section {
	height: 120vh;
	width: 100%;
}
.contributors-intro {
	height: 15%;
	width: 100%;
}
.intro-box {
	width: 70%;
	height: 150px;
	margin: auto;
	border-top: 3px solid var(--black);
	border-bottom: 3px solid var(--black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	gap: 10px;
}
.intro-box * {
	position: relative;
	left: 30px;
}
.intro-box h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 50px;
	color: var(--primaryYellow);
	margin: 0;
}
.intro-box p {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: var(--white);
	margin: 0;
}

.contributors-main {
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 100px;
}

/* Main Contributor  */
.contributor-main {
	width: 20%;
	height: auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.con-main-image {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}
.con-main-headshot {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
}
.con-main-name {
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: var(--secondaryYellow);
	box-shadow: 1px solid var(--primaryYellow);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 0;
}

.con-main-title {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #ffc529;
	text-shadow: 1px solid var(--black);
	margin: 0;
}

/* Additional Contributors */
.contributors-additional {
	width: 70%;
	height: auto;
	margin: 0 auto;
	padding-top: 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 95px;
}


.con-image {
	height: 20%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.con-headshot {
	border-radius: 50%;
	width: 120px;
	height: 120px;
	object-fit: cover;
}
.con-name {
	font-style: normal;
	cursor: pointer;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	color: #feb74c;
	box-shadow: 1px solid (--primaryYellow);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.con-title {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: (--primaryYellow);

	text-shadow: 1px solid var(--black);
}

.con-socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	margin-top: 0.5rem;
}
.con-socials img {
	height: 20px;
	width: 20px;
}


/* Contributor Modal */
.contributorModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  border: 2px solid #000;
  box-shadow: 24;
  background:black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
  min-width: 250px;
}

.contributorModal .modal-contributor-name {
	font-style: normal;
	color: var(--primaryYellow);
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
}

.contributorModal .modal-contributor-title {
	font-style: normal;
	color: var(--primaryYellow);
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
}

.contributorModal .modal-contributor-skills {
	font-style: normal;
	color: var(--primaryYellow);
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	align-self: flex-start;
}
