body {
	color: var(--primaryYellow);
	margin: 0 auto;
}

.intro-box {
	width: 70%;
	height: 9.375rem;
	margin: auto;
	border-top: 3px solid var(--black);
	border-bottom: 3px solid var(--black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	gap: 0.625rem;
	margin-bottom: 5rem;
}
.intro-box * {
	position: relative;
	left: 2rem;
}
.intro-box h2 {
	font-size: 2.5rem;
	line-height: 3.125rem;
	color: var(--primaryYellow);
	margin: 0;
}
.intro-box p {
	font-size: 1.25rem;
	line-height: 1.563rem;
	color: var(--white);
	margin: 0;
}
