body {
	color: var(--primaryYellow);
	margin: 0 auto;
}

.intro-box {
	width: 70%;
	height: 150px;
	margin: auto;
	border-top: 3px solid var(--black);
	border-bottom: 3px solid var(--black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	gap: 10px;
	margin-bottom: 5rem;
}
.intro-box * {
	position: relative;
	left: 30px;
}
.intro-box h2 {
	font-size: 40px;
	line-height: 50px;
	color: var(--primaryYellow);
	margin: 0;
}
.intro-box p {
	font-size: 20px;
	line-height: 25px;
	color: var(--white);
	margin: 0;
}
