@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

:root {
	--primaryYellow: #ffc529;
	--secondayYellow: #feb74c;
	--white: #ffffff;
	--black: #000000;
	--mainBackground: #232323;
}

body {
	background-color: var(--mainBackground);
	font-family: 'Inder', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	padding: 1rem;
	font-size: 1rem;
	box-sizing: border-box;
}
